{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}
  Change Password
{% endblock %}





{% block content_block %}

{% if changed %}

  <div class="alert alert-success m-6">
      Your Password Changed SuccessfUlly !
  </div>
  <a href="{% url 'login:profile' %}" class="btn btn-outline-dark btn-md"> Go to Profile </a>
{% else %}
<h5>Want to Change Password ? Change Here...</h5>
  <form   method="POST">
    {{ form| crispy}}
    {% csrf_token %}
    <button class="btn btn-danger btn-sm" type="submit" >Update Password</button>
  </form>



{% endif %}
{% endblock %}
